/*Global Classes*/

$grey: #ecf0f1;
$red: #e74c3c;
$white: #fff;

/*Structures*/
.wrapper {
	background: $white;
	height: 100%;
	left: 15%;
	position: absolute;
	right: 15%;
	width: 70%;
}

.main-header {
	display: table;
	height: 50px;
	padding: 1%;
	width: 100%;
}

.main-header h1 {
	color: $red;
	display: table-cell;
	font-size: 2em;
	/*float: left;*/
	/*height: 100%;*/
	vertical-align: middle;
}

.main-nav {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}

#app {
	padding: 40px 20px;
}

/*Styling*/
html, body {
	background: $grey;
}

.main-nav a {
	background: $red;
	border-radius: 5px;
	color: $white;
	padding: 1% 2%;
	text-decoration: none;
}

.main-nav a:hover {
	background: #fff;
	color: $red;
}

#countdown {
	color: $red;
	font-size: 4.5em;
}

input[type='button'], button {
	background: $grey;
	border: none;
}

.clear-all-projects {
	background: $red;
	color: $white;
	margin-left: 20px;
	padding: 5px;
}

#app>p,
.project-list p {
	margin: 20px 0;
}

/*Fonts*/
a, span, p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
}



span.finished {
	text-decoration: line-through;
}