<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro Task Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="wrapper">
        <header>
            <h1>Pomodoro Timer</h1>
            <nav class="main-nav">
                <a href="">New project</a>
                <a href="">New task</a>
            </nav>
        </header>

        <section class="project">
            <ul class="project-list">
                <li>
                    <div class="view">
                        <input type="checkbox" class="toggle">
                        <label>Project one</label>
                        <button class="destroy"></button>
                    </div>
                    <input type="text" class="edit" value="Project one">
                </li>
            </ul>
        </section>

        <section class="task">
            <p>Time Left: <span class="time-left">23: 39</span></p>
            <button class="destroy">cancel</button>
            <button class="pause">pause</button>
            <button class="finish">finish</button>
        </section>
    </div>

    <!--Task View Template-->
    <script type="text/template" id="task-template">
        <div class="task-view">
            <p>Time Left: <span class="time-left"><%= timeLeft %></span></p>
            <span class="project-span"><%= project %></span>
            <button class="destroy">cancel</button>
            <button class="pause">pause</button>
            <button class="finish">finish</button>
        </div>
        <% if (completed) { %>
        <button id="clear-completed">Clear completed (<%= completed %>)</button>
        <% } %>
    </script>

    <!--JS Libraries-->
    <script src="js/libs/jquery-1.9.0.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/backbone.localStorage.js"></script>
    <script src="js/libs/backbone-relational.js"></script>

    <!--Backbone.js Scripts-->
    <script src="js/models/project.js"></script>
    <script src="js/models/task.js"></script>
    <script src="js/collections/project-list.js"></script>
    <script src="js/collections/task-list.js"></script>
    <script src="js/views/project.js"></script>
    <script src="js/views/task.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>