<!DOCTYPE html>
<html>
  <head>
    <title>Pomodoro Task Timer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link href="css/main.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="wrapper">
        <header>
            <h1>Pomodoro Timer</h1>
            <nav class="main-nav">
                <a href="">New project</a>
                <a href="">New task</a>
            </nav>
        </header>

        <section id="app">
            <form action="" class="new-project">
                <input id="new-project-title" placeholder="What's your new project?" autofocus>
                <span class="clear-all-projects">Clear All Projects</span>
            </form>

            <span class="new-task">Start a new task</span>
            <select class="new-task-project">
                
            </select>


            <ul class="project-list"></ul>

            <section class="current-task">
            </section>
        </section>
    </div>

    <!--Task View Template-->
    <script type="text/template" id="task-template">
        <div class="task-view">
                <p>for what project: <%= project %></p>
                <span id="countdown"></span>
                <form id="taskTimerform">
                    <input type="button" id="play" value="Play/Pause">
                    <input type="button" id="stop" value="Stop/Reset">
                    <input type="button" id="cancel" value="Cancel">
                    <input type="text" name="startTime" value="1500" style="width:30px;">
                </form>
        </div>
    </script>

    <!--Project View Template-->
    <script type="text/template" id="project-template">
        <div class="project-view">
            <p><%= title %></p>
        </div>
    </script>

    <!--JS Libraries-->
    <script src="js/libs/jquery-1.9.0.js"></script>
    <script src="js/libs/jquery.timer.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/backbone.localStorage.js"></script>
    <script src="js/libs/backbone-relational.js"></script>

    <!--Custom Scripts-->
    <!-- // <script src="js/scripts.js"></script> -->

    <!--Backbone.js Scripts-->
    <script src="js/models/project.js"></script>
    <script src="js/models/task.js"></script>
    <script src="js/collections/project-list.js"></script>
    <script src="js/collections/task-list.js"></script>
    <script src="js/views/project.js"></script>
    <script src="js/views/task.js"></script>
    <script src="js/views/app.js"></script>
    <script src="js/app.js"></script>

  </body>
</html>